@model List<OperatorListViewModel>

@{
    ViewBag.Title = "Operators";
    Layout = "~/Areas/Estate/Views/Shared/_Layout.cshtml";
}

@*<style>
    .container {
        margin-right: 0.75rem;
        margin-left: 0.75rem;
    }
</style>*@

<div class="container-fluid">
    <div class="card o-hidden border-0 shadow-lg my-3">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-10">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">My Operators</h1>
                        </div>

                        <a class="btn btn-primary btn-circle btn-sm" asp-action="CreateOperator" asp-controller="Operator" asp-area="Estate" id="newOperatorButton"><i class="fa fa-plus"></i></a>
                        <table id="operatorList" class="table table-striped table-bordered nowrap" width="100%" cellspacing="0">
                            <thead>
                            <tr>
                                <th>Estate Id</th>
                                <th>Operator Id</th>
                                <th>Operator Name</th>
                                <th>Custom Merchant</th>
                                <th>Custom Terminal</th>
                                <th></th>
                            </tr>
                            </thead>
                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script>
    $(document).ready(function ()
    {
        $("#operatorList")
            .on('error.dt', function (e, settings, techNote, message) {
                var html = getAlertHtml('danger', 'Operator List', message);
                $("#alert").html(html);
            })
            .DataTable({
            "processing": true, // for show progress bar
            "serverSide": true, // for process server side
            "filter": true, // this is for disable filter (search box)
            "orderMulti": false, // for disable multiple column at once
            "ajax": {
                "url": "GetOperatorListAsJson",
                "type": "POST",
                "datatype": "json"
            },
            "columnDefs":
            [{
                "targets": [0],
                "visible": false,
                "searchable": false
                },
                    {
                        "targets": [1],
                        "visible": false,
                        "searchable": false  }],
            "columns": [
                { "data": "estateId", "name": "estateId", "autoWidth": true },
                { "data": "operatorId", "name": "operatorId", "autoWidth": true },
                { "data": "operatorName", "name": "operatorName", "autoWidth": true },
                { "data": "requireCustomMerchantNumber", "name": "requireCustomMerchantNumber", "autoWidth": true },
                { "data": "requireCustomTerminalNumber", "name": "requireCustomTerminalNumber", "autoWidth": true },
                {
                    "render": function(data, type, full, meta)
                    {
                        return '<a class="btn btn-info" id="editOperatorLink" href="GetOperator?operatorId=' + full.operatorId + '"><i class="fa fa-edit"></i></a>';
                    }
                }
            ],
            "order": [[2, "asc"]]
        });
    });
</script>