@model EstateAdministrationUI.Areas.Estate.Models.CreateOperatorViewModel

@{
    ViewBag.Title = "New Operator Details";
    Layout = "~/Areas/Estate/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="card o-hidden border-0 shadow-lg my-5">
        <div class="card-body p-0">
            <!-- Nested Row within Card Body -->
            <div class="row">
                <div class="col-lg-5 d-none d-lg-block bg-createnewmerchant-image"></div>
                <div class="col-lg-7">
                    <div class="p-5">
                        <div class="text-center">
                            <h1 class="h4 text-gray-900 mb-4">Create New Operator</h1>
                        </div>
                        <form id="createOperatorForm" asp-action="CreateOperator" asp-area="Estate" asp-controller="Home" method="post" class="user">
                            <br />
                            <div class="form-group">
                                <label asp-for="OperatorName" class="control-label">Operator Name</label>
                                <input asp-for="OperatorName" class="form-control form-control-user" name="operatorName" autofocus />
                            </div>
                            
                            <div class="form-check">
                                <input asp-for="RequireCustomMerchantNumber" class="form-check-input" name="requireCustomMerchantNumber" autofocus />
                                <label asp-for="RequireCustomMerchantNumber" class="form-check-label">Require Custom Merchant Number</label>
                            </div>

                            <div class="form-check">
                                <input asp-for="RequireCustomTerminalNumber" class="form-check-input" name="requireCustomTerminalNumber" autofocus />
                                <label asp-for="RequireCustomTerminalNumber" class="form-check-label">Require Custom Terminal Number</label>
                            </div>

                            <button id="createOperatorButton" type="submit" class="btn btn-primary btn-user btn-block"><i class="fa fa-plus"></i> Create Operator</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" language="javascript">
    /*
    $(document).ready(function()
    {
        // initialize tooltipster on text input elements
        $('#createMerchantForm input[type="text"]').tooltipster({
            trigger: 'hover',
            position: 'right',
            animation: 'grow'
        });

        var merchantNameRuleSet = {
            required: true
        };

        var addressLine1RuleSet = {
            required: true
        };

        var townRuleSet = {
            required: true
        };
        var regionRuleSet = {
            required: true
        };
        var postalCodeRuleSet = {
            required: true
        };
        var countryRuleSet = {
            required: true
        };

        var contactNameRuleSet = {
            required: true
        };

        var contactEmailAddressRuleSet = {
            required: true
        };

        var contactPhoneNumberRuleSet = {
            required: true
        };

        var merchantNameMessages = {
            required: "Merchant name is a required field"
        };

        var addressLine1Messages = {
            required: "Address line 1 is a required field"
        };

        var townMessages = {
            required: "Town is a required field"
        };

        var regionMessages = {
            required: "Region is a required field"
        };

        var postalCodeMessages = {
            required: "Post code is a required field"
        };

        var countryMessages = {
            required: "Country is a required field"
        };

        var contactNameMessages = {
            required: "Contact name is a required field"
        };

        var contactEmailAddressMessages = {
            required: "Contact email address is a required field"
        };

        var contactPhoneNumberMessages = {
            required: "Contact phone number is a required field"
        };

        // just for the demos, avoids form submit
        jQuery.validator.setDefaults({
            //debug: true
        });

        $("#createMerchantForm").validate({
            rules: {
                merchantName: merchantNameRuleSet,

                addressLine1: addressLine1RuleSet,
                town: townRuleSet,
                region: regionRuleSet,
                postalCode: postalCodeRuleSet,
                country: countryRuleSet,

                contactName: contactNameRuleSet,
                contactEmailAddress: contactEmailAddressRuleSet,
                contactPhoneNumber: contactPhoneNumberRuleSet,
                },
            messages: {
                merchantName: merchantNameMessages,

                addressLine1: addressLine1Messages,
                town: townMessages,
                region: regionMessages,
                postalCode: postalCodeMessages,
                country: countryMessages,

                contactName: contactNameMessages,
                contactEmailAddress: contactEmailAddressMessages,
                contactPhoneNumber: contactPhoneNumberMessages
            },
            validClass: "is-valid",
            errorClass: "is-invalid",
            errorPlacement: function(error, element)
            {
                var ele = $(element),
                    err = $(error),
                    msg = err.text();

                console.log(msg);

                if (msg != null && msg !== '')
                {
                    ele.tooltipster('content', msg);
                }
            }//,
            //highlight: function(element, errorClass, validClass) { $(element).addClass(errorClass).removeClass(validClass); },
            //unhighlight: function(element, errorClass, validClass) { $(element).removeClass(errorClass).addClass(validClass).tooltipster('close'); }
        });
    });*/
</script>