@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Estate/Views/Shared/_Layout.cshtml";
}

<div class="container-fluid">
    <div class="row">
        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-store"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Number of Merchants</span>
                    <span class="info-box-number" id="numberOfMerchantsLabel"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-calendar-day"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">Today's Transactions</span>
                    <span class="info-box-number" id="todaysTransactionsLabel"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-calendar-week"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">This Week's Transactions</span>
                    <span class="info-box-number" id="thisWeeksTransactionsLabel"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>

        <div class="col-md-3 col-sm-6 col-12">
            <div class="info-box">
                <span class="info-box-icon bg-info"><i class="fas fa-calendar-alt"></i></span>

                <div class="info-box-content">
                    <span class="info-box-text">This Month's Transactions</span>
                    <span class="info-box-number" id="thisMonthsTransactionsLabel"></span>
                </div>
                <!-- /.info-box-content -->
            </div>
            <!-- /.info-box -->
        </div>
    </div>
    <div class="row">
        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Transactions By Operator</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart" id="chartCanvasParent">
                        <div id="transactionsByOperatorchart_div" style="height: 700px"></div>
                    </div>
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Transactions By Status</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    Pie chart of Txns by Status
                </div>
            </div>
        </div>

        <div class="col-xl-4 col-lg-4">
            <div class="card shadow mb-4">
                <!-- Card Header - Dropdown -->
                <div class="card-header py-3">
                    <h6 class="m-0 font-weight-bold text-primary">Top Performing Merchants</h6>
                </div>
                <!-- Card Body -->
                <div class="card-body">
                    <div class="chart" id="chartCanvasParent">
                        <div id="transactionsByMerchantchart_div" style="height: 700px"></div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>
<script src="~/js/googleChartHelpers.js"></script>

<script language="javascript">

    // Load the Visualization API and the piechart package.
    google.charts.load('current', { 'packages': ['corechart'] });

    // Set a callback to run when the Google Visualization API is loaded.
    google.charts.setOnLoadCallback(chartCallback);

    function chartCallback()
    {
        drawTransactionsByOperatorChart();
        drawTransactionsByMerchantChart();
    }

    function convertOperatorJsonToArray(jsonData, sortField)
    {
        console.log('jsonData is [' + jsonData + ']');
        var data = JSON.parse(jsonData);
        console.log('data is');
        console.log(data);
        var dataArray = [];
        
        dataArray = translateOperatorTotals(data, sortField);

        return google.visualization.arrayToDataTable(dataArray);
    }

    function convertMerchantJsonToArray(jsonData, sortField) {
        console.log('jsonData is [' + jsonData + ']');
        var data = JSON.parse(jsonData);
        console.log('data is');
        var dataArray = [];

        dataArray = translateMerchantTotals(data, sortField);

        return google.visualization.arrayToDataTable(dataArray);
    }

    function drawTransactionsByOperatorChart() {
        console.log('In drawTransactionsByOperatorChart');
        var operatorCount = 5;
        var direction = 1; // Top x
        var sortBy = '0'; // Sales Value

        var startDate = moment().subtract(14, 'days').format('YYYY-MM-DD');
        var endDate = moment().format('YYYY-MM-DD');

        var result = $.ajax({
            url: "GetTransactionsByOperatorAsJson?operatorCount=" + operatorCount + "&sortDirection=" + direction + "&sortField=" + sortBy + "&startDate=" + startDate + "&endDate=" + endDate,
            dataType: "json",
        }).done(function (jsonData)
        {
            console.log(jsonData);

            // Convert JSON value to google format array
            var data = convertOperatorJsonToArray(jsonData, sortBy);

            var options = setupOperatorChartOptions(operatorCount, direction, sortBy);

            if (data.getNumberOfRows() > 0) {
                var chart = new google.visualization.ColumnChart(document.getElementById('transactionsByOperatorchart_div'));
                chart.draw(data, options);
            }
            else {
                $("#transactionsByOperatorchart_div").empty();
                $("#transactionsByOperatorchart_div").append("Sorry, not found any data for the selected date range.");
            }
        }).fail(function(){
            $("#transactionsByOperatorchart_div").empty();
            $("#transactionsByOperatorchart_div").append("Sorry, not found any data for the selected date range.");
        });
    }

    function drawTransactionsByMerchantChart() {
        console.log('In drawTransactionsByMerchantChart');
        var merchantCount = 5;
        var direction = 1; // Top x
        var sortBy = '0'; // Sales Value

        var startDate = moment().subtract(14, 'days').format('YYYY-MM-DD');
        var endDate = moment().format('YYYY-MM-DD');
        
        var jsonData = $.ajax({
            url: "GetTransactionsByMerchantAsJson?merchantCount=" + merchantCount + "&sortDirection=" + direction + "&sortField=" + sortBy + "&startDate=" + startDate + "&endDate=" + endDate,
            dataType: "json",
            async: false
        }).done(function (jsonData) {
            console.log(jsonData);

            // Convert JSON value to google format array
            var data = convertMerchantJsonToArray(jsonData, sortBy);

            var options = setupMerchantChartOptions(operatorCount, direction, sortBy);

            if (data.getNumberOfRows() > 0) {
                var chart = new google.visualization.ColumnChart(document.getElementById('transactionsByMerchantchart_div'));
                chart.draw(data, options);
            }
            else {
                $("#transactionsByMerchantchart_div").empty();
                $("#transactionsByMerchantchart_div").append("Sorry, not found any data for the selected date range.");
            }
        }).fail(function () {
            $("#transactionsByMerchantchart_div").empty();
            $("#transactionsByMerchantchart_div").append("Sorry, not found any data for the selected date range.");
        });
    }

    function setupOperatorChartOptions(operatorcount, sortdirection, sortfield) {
        console.log(sortdirection);
        hAxis = { title: 'Operator' };
        var title = 'Top ' + operatorcount + ' by Value';
        console.log(title);

        var options = {
            title: title,
            hAxis: hAxis,
            seriesType: 'bars',
            //series: { 1: { type: 'line' } },
            colors: getChartColors(),
            animation: {
                startup: true,
                duration: 1000,
                easing: 'out'
            }
        };

        return options;
    }

    function setupMerchantChartOptions(merchantcount, sortdirection, sortfield) {
        console.log(sortdirection);
        hAxis = { title: 'Merchant' };
        var title = 'Top ' + merchantcount + ' by Value';
        console.log(title);

        var options = {
            title: title,
            hAxis: hAxis,
            seriesType: 'bars',
            //series: { 1: { type: 'line' } },
            colors: getChartColors(),
            animation: {
                startup: true,
                duration: 1000,
                easing: 'out'
            }
        };

        return options;
    }

    $.ajax({
        url: "GetNumberOfMerchantsAsJson",
        type: "POST",
        dataType: 'json'
    }).done(function (results) {
        var numberOfMerchantsLabel = document.getElementById("numberOfMerchantsLabel");
        numberOfMerchantsLabel.innerHTML = numberOfMerchantsLabel.innerHTML + " " + results.numberOfMerchants;
    });

    $.ajax({
        url: "GetTodaysTransactionsAsJson",
        type: "POST",
        dataType: 'json'
    }).done(function (results) {
        var todaysTransactionsLabel = document.getElementById("todaysTransactionsLabel");
        todaysTransactionsLabel.innerHTML = todaysTransactionsLabel.innerHTML + " " + results.numberOfTransactions;
    });

    $.ajax({
        url: "GetThisWeeksTransactionsAsJson",
        type: "POST",
        dataType: 'json'
    }).done(function (results) {
        var thisWeeksTransactionsLabel = document.getElementById("thisWeeksTransactionsLabel");
        thisWeeksTransactionsLabel.innerHTML = thisWeeksTransactionsLabel.innerHTML + " " + results.numberOfTransactions;
    });

    $.ajax({
        url: "GetThisMonthsTransactionsAsJson",
        type: "POST",
        dataType: 'json'
    }).done(function (results) {
        var thisMonthsTransactionsLabel = document.getElementById("thisMonthsTransactionsLabel");
        thisMonthsTransactionsLabel.innerHTML = thisMonthsTransactionsLabel.innerHTML + " " + results.numberOfTransactions;
    });
</script>