    <nav class="main-header navbar navbar-expand navbar-white navbar-light">
        <!-- Right navbar links -->
        <ul class="navbar-nav ml-auto">
            <li class="nav-item">
                <a class="btn btn-primary btn-icon-split btn-sm" id="loginButton"
                   asp-area="Account" asp-controller="SignIn" asp-action="Login">
                    <span class="icon text-white-50">
                        <i class="fas fa-flag"></i>
                    </span>
                    <span class="text">Sign in</span>
                </a>
            </li>
        </ul>
    </nav>
