@{
    ViewBag.Title = "Dashboard";
    Layout = "~/Areas/Estate/Views/Shared/_Layout.cshtml";
}

    <div class="container-fluid">
        <div class="row">
            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Number of Merchants</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        1
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Today's Transactions</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h1 class="h3 mb-2 text-gray-800" id="todaysTransactionsLabel"></h1>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">This Week's Transactions</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h1 class="h3 mb-2 text-gray-800" id="thisWeeksTransactionsLabel"></h1>
                    </div>
                </div>
            </div>

            <div class="col-xl-3 col-lg-3">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">This Month's Transactions</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        <h1 class="h3 mb-2 text-gray-800" id="thisMonthsTransactionsLabel"></h1>
                    </div>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Transactions By Operator</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        1
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Transactions By Status</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        1
                    </div>
                </div>
            </div>

            <div class="col-xl-4 col-lg-4">
                <div class="card shadow mb-4">
                    <!-- Card Header - Dropdown -->
                    <div class="card-header py-3">
                        <h6 class="m-0 font-weight-bold text-primary">Top Performing Merchants</h6>
                    </div>
                    <!-- Card Body -->
                    <div class="card-body">
                        1
                    </div>
                </div>
            </div>
        </div>
    </div>


<script language="javascript">
    $.ajax({
        url: "GetTodaysTransactionsAsJson",
        type: "POST",
        dataType: 'json'
    }).done(function (results) {
        var todaysTransactionsLabel = document.getElementById("todaysTransactionsLabel");
        todaysTransactionsLabel.innerHTML = todaysTransactionsLabel.innerHTML + " " + results.numberOfTransactions;
    });

    $.ajax({
        url: "GetThisWeeksTransactionsAsJson",
        type: "POST",
        dataType: 'json'
    }).done(function (results) {
        var thisWeeksTransactionsLabel = document.getElementById("thisWeeksTransactionsLabel");
        thisWeeksTransactionsLabel.innerHTML = thisWeeksTransactionsLabel.innerHTML + " " + results.numberOfTransactions;
    });

    $.ajax({
        url: "GetThisMonthsTransactionsAsJson",
        type: "POST",
        dataType: 'json'
    }).done(function (results) {
        var thisMonthsTransactionsLabel = document.getElementById("thisMonthsTransactionsLabel");
        thisMonthsTransactionsLabel.innerHTML = thisMonthsTransactionsLabel.innerHTML + " " + results.numberOfTransactions;
    });
</script>