@model AddMerchantDeviceViewModel

<div class="modal-content">

    <!--Modal Header Start-->
    <div class="modal-header">
        <h4 class="modal-title">Add Merchant Device</h4>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close"><span aria-hidden="true">×</span></button>
    </div>
    <!--Modal Header End-->

    <form id="addMerchantDevice" asp-action="AddMerchantDevice" asp-area="Estate" asp-controller="Merchant" method="post" class="user">
        @Html.AntiForgeryToken()
        @Html.HiddenFor(model => model.MerchantId)

        <div class="modal-body form-horizontal">
            <div class="form-group row">
                <label asp-for="DeviceIdentifier" class="control-label">Device Identifier</label>
                <input asp-for="DeviceIdentifier" class="form-control form-control-user" required autofocus />
            </div>
        </div>
        <!--Modal Footer Start-->
        <div class="modal-footer">
            <button data-dismiss="modal" id="cancel" class="btn btn-default" type="button">Cancel</button>
            <button class="btn btn-success relative" id="btnSubmit" type="submit">
                <i class="loader"></i>
                Add Device
            </button>
        </div>
        <!--Modal Footer End-->
    </form>
</div>


<!--Modal Body End-->  